{% extends 'base.html' %}

{% block title%}
    {{ landing_page.title }}
{% endblock title%}

{% block content %}
<h1>{{ landing_page.title }}</h1>
<div class="card">
    <div class="card-header">
        <h1 class="card-title">Inscreva-se</h1>
    </div>
    <div class="card-body">
        <p>
            * Campos obrigatórios
        </p>
        <form action="{% url 'home' slug=landing_page.slug %}" novalidate method="POST">
            {% csrf_token %}
            <div class="form-row form-control">
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <div class="form-row form-control">
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
            <div class="form-row form-control">
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-row form-control">
                {{ form.celphone }}
                {{ form.celphone.errors }}
            </div>
            <div class="form-row form-control">
                {{ form.phone }}
                {{ form.phone.errors }}
            </div>
            <div class="form-row">
                {{ form.accept }}
                <span>
                    Ao se cadastrar neste formulário, você concorda com a nossa 
                    <a href="https://unisagrado.edu.br/politica-de-privacidade">política de privacidade</a>
                </span>
                {{ form.accept.errors }}
            </div>
            <button type="submit" {% if not enabled %}disabled{%endif%}>
                {% if not enabled %}
                    Inscrições encerradas
                {% else %}
                    Enviar
                {% endif%}
            </button>
        </form>
    </div>
</div>
{% endblock content %}